
body {
    background-image: url("../images/01-02-02_background-img.jpg");
    background-color: lightgrey;
}

h2 {
    color: orangered;
}

p {
    font-style: strong;
}

.text-center {
    text-align: center;
}
